# task-1

In [1]:
for num in range(11):
    if num != 2 and num != 8:
        print(num)

0
1
3
4
5
6
7
9
10

## task-2

In [5]:
number = 7

for i in range(1, 11):
    result = number * i
    print("{} * {} = {}".format(number, i, result))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

### task-3

In [6]:
rows = 5

for i in range(1, rows*2):
    if i <= rows:
        for j in range(1, i+1):
            print("*", end=" ")
    else:
        for j in range(1, (rows*2)-i+1):
            print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# task-4

In [13]:
numbers = []

for i in range(10):
    number = int(input("Enter number {}: ".format(i+1)))
    numbers.append(number)

print("Numbers entered by the user:", numbers)

print("Max number: ", max(numbers))

Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 44
Enter number 5: 55
Enter number 6: 66
Enter number 7: 2
Enter number 8: 3
Enter number 9: 4
Enter number 10: 5
Numbers entered by the user: [1, 2, 3, 44, 55, 66, 2, 3, 4, 5]
Max number:  66

## task-5

In [14]:
numbers = []

for i in range(10):
    number = int(input("Enter number {}: ".format(i+1)))
    numbers.append(number)

print("Numbers entered by the user:", numbers)

#add = sum(numbers)

print("Max number: ", sum(numbers))

Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5
Enter number 6: 4
Enter number 7: 3
Enter number 8: 2
Enter number 9: 1
Enter number 10: 2
Numbers entered by the user: [1, 2, 3, 4, 5, 4, 3, 2, 1, 2]
Max number:  27